.block-right{
    background-color: rgb(52, 51, 49);
    color: rgb(248, 248, 248);
    width: 50%;
    height: 350 px;
    float: left;
    overflow: auto;

}

.block-left{
width: 50%;
height: 350px;
overflow: auto;

}

.my_mail{
    color: white;
    text-decoration: underline;

}

.my_contact{
   font-size: 15px;

}

.my-qr{
    display: block;
    margin-left: auto;
    margin-right: auto;
}



